@model Blog.Models.ArticleViewModel

@{
    ViewBag.Title = "List";
}


@using TimeAgo;
@using PagedList.Mvc

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="container">
@using (Html.BeginForm("ListArticles", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
{
    <h3>Search:</h3>
    @Html.TextBoxFor(m => m.SearchTxt, new { @class = "form-control" })
    @Html.HiddenFor(m => m.CategoryId, new { @class = "form-control" })
    <input type="submit" value="Submit" class="btn btn-success" />
}
    <div class="row">
        <h4>@ViewBag.SearchErrorMsg</h4>
        @foreach (var article in Model.PagedArticles.OrderByDescending(a => a.viewCounter).ThenByDescending(a => a.DateAdded))
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                        <small class="author pull-right">
                            <strong>@article.DateAdded.TimeAgo()</strong>
                        </small>
                    </header>
                    <p>
                        @article.Content
                    </p>
                    <footer class="pull-right">
                        <small class="author">
                            --author @article.Author.FullName | Views: @article.viewCounter
                        </small>
                    </footer>
                        <div class="pull-left">
                            @foreach (var tag in article.Tags)
                            {
                                @Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
                            }
                        </div>
                </article>
            </div>
        }
    </div>
</div>
@Html.PagedListPager(Model.PagedArticles, page => Url.Action("ListArticles",
            new { categoryId = ViewBag.currentCategoryId, page, pageSize = Model.PagedArticles.PageSize }))
        Showing @Model.PagedArticles.FirstItemOnPage to @Model.PagedArticles.LastItemOnPage of @Model.PagedArticles.TotalItemCount Articles
<hr />

