@model PagedList.IPagedList<Blog.Models.Article>

@{
    ViewBag.Title = "List";
}

@using TimeAgo;
@using PagedList.Mvc

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                        <small class="author pull-right">
                            <strong>@article.DateAdded.TimeAgo()</strong>
                        </small>
                    </header>
                    <p>
                        @article.Content
                    </p>
                    <footer>
                        <div class="pull-left">
                            @foreach (var tag in article.Tags)
                            {
                                @Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
                            }
                        </div>
                        <small class="author pull-right">
                            --author @article.Author.FullName
                        </small>
                        <small class="author pull-right">
                            @article.Category.Name
                        </small>
                    </footer>

                </article>
            </div>
        }
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("List",
            new { page, pageSize = Model.PageSize }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Articles
<hr />